---
import ChargeSection from '../components/ChargeSection.astro'
import HeroSection from '../components/HeroSection.astro'
import LandingHeader from '../components/LandingHeader.astro'
import Model3 from '../components/Model3.astro'
import ModelS from '../components/ModelS.astro'
import ModelX from '../components/ModelX.astro'
import ModelY from '../components/ModelY.astro'
import SolarPanel from '../components/SolarPanel.astro'
import SolarRoof from '../components/SolarRoof.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Electric Cars, Solar & Clean Energy | Fakesla'>
  <LandingHeader />
  <main
    class='snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth'
  >
    <div class='snap-center'>
      <HeroSection />
    </div>
    <div class='snap-center'>
      <Model3 />
    </div>
    <div class='snap-center'>
      <ModelY />
    </div>
    <div class='snap-center'>
      <ModelS />
    </div>
    <div class='snap-center'>
      <ModelX />
    </div>
    <div class='snap-center'>
      <SolarPanel />
    </div>
    <div class='snap-center'>
      <SolarRoof />
    </div>
    <div class='snap-center'>
      <ChargeSection />
    </div>
  </main>
</Layout>
