<section class='relative h-screen w-full text-center overflow-hidden'>
  <div class='relative z-30 h-full flex flex-col'>
    <header>
      <h2 class='text-black pt-24 text-4xl font-medium'>Accesories</h2>
    </header>
    <footer class='flex flex-col flex-grow justify-end pb-10'>
      <div>
        <a
          class='bg-black text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-gray-500 transition-colors'
          href='#'>Shop Now</a
        >
        <ul
          class='mt-6 flex gap-x-4 justify-center text-xs text-gray-500 font-medium'
        >
          <li><a href='#'>Fakesla © 2023</a></li>
          <li><a href='#'>Privacy & Legal</a></li>
          <li><a href='#'>Vehicle Recalls</a></li>
          <li><a href='#'>Contact</a></li>
          <li><a href='#'>News</a></li>
          <li><a href='#'>Get Updates</a></li>
          <li><a href='#'>Locations</a></li>
        </ul>
      </div>
    </footer>
  </div>
  <div class='absolute top-0 bottom-0 h-full w-screen z-10'>
    <img
      class='h-full w-full object-cover object-center'
      src='./accesories.avif'
      alt='accesories'
    />
  </div>
</section>
