<section
  class='landing-section relative h-screen w-full text-center overflow-hidden'
  data-header-color='white'
  data-menu-color='grey'
>
  <div class='relative z-30 h-full flex flex-col'>
    <header>
      <h2 class='text-white pt-24 text-4xl font-medium'>Experience Fakesla</h2>
      <p class='text-white text-base py-5'>Schedule a Demo Drive Today</p>
    </header>
    <footer class='flex flex-col flex-grow justify-end pb-24'>
      <div>
        <a
          class='backdrop-blur-sm border-[3px] border-white text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors'
          href='#'>Demo Drive</a
        >
      </div>
    </footer>
  </div>
  <div class='absolute top-0 bottom-0 h-full w-screen z-10'>
    <video
      class='object-center object-cover h-screen w-screen'
      autoplay
      muted
      loop
      src='./video.webm'></video>
  </div>
</section>
