<section class='relative h-screen w-full text-center overflow-hidden'>
  <div class='relative z-30 h-full flex flex-col'>
    <header>
      <h2 class='text-black pt-24 text-4xl font-medium'>Model Y</h2>
      <a href='#' class='block text-black text-base py-5 underline'
        >View Inventory</a
      >
    </header>
    <footer class='flex flex-col flex-grow justify-end pb-10'>
      <div>
        <a
          class='bg-gray-500 backdrop-blur-sm border-[3px] border-transparent text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors'
          href='#'>Order Now</a
        >
        <a
          class='backdrop-blur-sm border-[3px] border-white text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors'
          href='#'>Demo Drive</a
        >
      </div>
    </footer>
  </div>
  <div class='absolute top-0 bottom-0 h-full w-screen z-10'>
    <img
      class='h-full w-full object-cover object-center'
      src='./modely.avif'
      alt='modely'
    />
  </div>
</section>
